DB_HOST=truequi-db.c0rqa2akcsq3.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASS=Tonycar411010
DB_NAME=truequi_bd
GOOGLE_CLIENT_ID=675434790186-c149sqg826b8ki0tpv4dq4j778mcg2sh.apps.googleusercontent.com